/* COMUN */
li:hover, a:hover {
    cursor: pointer;	
}

#logo {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    #content {
      font-size: small;
    }
}

@media (max-width: 576px) {
    #content {
      font-size: small;
    }
    #logo {
        width: 15px;
        height: 15px;
    }
    td {
        padding: 0.5rem 0!important;
    }
}

.card {
    border: none;
}

.card-header, .card-header a {
    background-color: #0f2d37;
    color: white;
}

.card-body {
    background-color: white;
    border: #0f2d37 1px solid;
    padding-bottom: 0;
}

/* LIGAS */
.redondeo {
    border-radius: 5px;
    width: 25px;
    margin: auto;
    color: white;
}

.activo {
    border-bottom: 1px solid white;
}

/* LIVESCORE */
.livescore {
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    width: 50px;
    margin: 0 auto;
}

.parpadeo {
    color: crimson;
    animation: parpadeo 2s linear infinite;
}

@keyframes parpadeo {  
    0% { 
        opacity: 1.0; 
    }
    50% { 
        opacity: 0.0; 
    }
    100% { 
        opacity: 1.0; 
    }
}

/* EQUIPOS */
.bi {
    width: 1em;
    height: 1em;
}

#favorito:hover {
    cursor: pointer;	
}

#nofavorito:hover {
    cursor: pointer;	
}

