/* COMUN */
li:hover, a:hover {
    cursor: pointer;	
}

#logo {
    width: 25px;
    height: 25px;
}

@media only screen and (max-device-width: 768px) {
    body {
      font-size: small;
    }
}

@media only screen and (max-device-width: 480px) {
    body {
      font-size: x-small;
    }
    #logo {
        width: 15px;
        height: 15px;
    }
}

/* LIGAS */
.redondeo {
    border-radius: 5px;
    width: 25px;
    margin: auto;
    color: white;
}

.activo {
    border-bottom: 1px solid black;
}

/* LIVESCORE */
.livescore {
    background-color: forestgreen;
    color: white;
    border-radius:  5px;
    width: 75px;
    margin: 0 auto;
}

.parpadeo {
    animation: parpadeo 2s linear infinite;
}

@keyframes parpadeo {  
    0% { 
        opacity: 1.0; 
    }
    50% { 
        opacity: 0.0; 
    }
    100% { 
        opacity: 1.0; 
    }
}

/* EQUIPOS */
.bi {
    width: 1em;
    height: 1em;
}

#favorito:hover {
    cursor: pointer;	
}

#nofavorito:hover {
    cursor: pointer;	
}

