/* MEDIA QUERY */
@media (min-width: 1400px) {
    .nav-content, .main-content, .footer-content {
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    #content {
        font-size: small;
    }
}

@media (max-width: 576px) {
    #content {
        font-size: small;
    }
    #logo {
        width: 15px;
        height: 15px;
    }
    td {
        padding: 0.5rem 0!important;
    }
}

/* COMUN */
td {
    font-size: inherit!important;
    line-height: inherit!important;
}

li:hover, a:hover {
    cursor: pointer;	
}

#logo {
    width: 25px;
    height: 25px;
}

.card {
    border: none;
}

.card-header, .card-header a {
    background-color: #255e50; /* Verdes */
	/*background-color: #0f2d37;*/ /* Azules */
    color: white;
}

.card-body {
    background-color: #a6b7bb; /* Verdes */
    /*background-color: #eeeeee;*/ /* Azules */
    border: #255e50 1px solid; /* Verdes */
    /*border: #0f2d37 1px solid;*/ /* Azules */
    padding-bottom: 0;
}

/* MODALES */
#fixture, #fixtures, #livescore, #standings, 
#fixture_modal, #fixture_events, #fixture_statistics, 
#fixture_lineups, #fixture_players {
    text-align: initial;
}

/* LIGAS */
.redondeo {
    border-radius: 5px;
    width: 25px;
    margin: auto;
    color: white;
}

.activo {
    border-bottom: 1px solid white;
}

/* LIVESCORE */
.livescore {
    background-color: #4e0a17;
    color: white;
    width: 50px;
    margin: 0 auto;
}

.parpadeo {
    color: #4e0a17;
    animation: parpadeo 2s linear infinite;
}

@keyframes parpadeo {  
    0% { 
        opacity: 1.0; 
    }
    50% { 
        opacity: 0.0; 
    }
    100% { 
        opacity: 1.0; 
    }
}

/* EQUIPOS */
.bi {
    width: 1em;
    height: 1em;
}

#favorito:hover {
    cursor: pointer;	
}

#nofavorito:hover {
    cursor: pointer;	
}

